@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bgimg {
    position: absolute;
    top:0;
    z-index: -1;
    height:100%;
    min-width: 100%;

}

.weather {
    color: white;
    font-size: 20px;
    font-weight: 500;
}

.far.fa-compass, .fa-solid.fa-circle-check {
    font-size: 15px;
    margin-right: 5px;
}

.time {
    color: white;
    font-size: 150px;
    font-weight: 500;
    padding: 10px;
}

.weather_temp, .weather_weather {
    margin-left: 5px;
}

.todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.greeting {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
}

.todo_todo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.todo_text {
    color: white;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
}

.todo_input {
    background-color: unset;
    height: 50px;
    border: none;
    border-bottom: 3px solid white;
    color: white;
    text-align: center;
    font-size: 24px;
    width: 400px;
}

.todo_lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

.todo_lists > div {
    display: flex;
    align-items: center;
    margin: 0 15px;
}

.fa-solid.fa-check {
    margin-right: 5px;
}

button {
    background-color: unset;
    color: white;
    border: 1px solid white;
    margin: 0 5px;
    border-radius: 15px;
    font-size: 12px;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.login-form_text {
    color:white;
    font-size: 46px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.login-form_name {
    background-color: unset;
    height: 50px;
    border: none;
    border-bottom: 5px solid white;
    color: white;
    text-align: center;
    font-size: 30px;
    width: 400px;
    margin-bottom: 10px;
}


.login-form_bnt {
    background-color: unset;
    padding: 8px 20px;
    border: 3px solid white;
    border-radius: 20px;
    color:white;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 700;
}

.fas.fa-chevron-right {
    color: white;
}

.login-form_guide {
    color: white;
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
}

.quotes {
    color: rgba(255,255,255,0.8);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    position: fixed;
    bottom: 10px;
    display: flex;
    flex-direction: column;
}

.displaynone {
    display: none;
}